{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="test">
                    adsfads
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="test">
                    adsfads
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="test">
                    adsfads
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="test">
                    adsfads
                </div>
            </div>
            <div class="col-xs-8 text-center">
                <div class="project-box">
                    adsfads
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block static_per_page %}
    <script src="{% static 'js/projects.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}"/>
{% endblock %}