{% extends 'base.html' %}
{% load staticfiles %}

{% block title_extension %}
    Index
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="test">
                    <a href="#">

                        <img src="{% static 'images/walking.jpg' %}" class="thumbnail img-responsive section">

                    </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="test">
                    <a href="#">
                        <img src="{% static 'images/bike-final.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="test">
                    <a href="#">
                        <img src="{% static 'images/car-final.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-center">
                <h2><strong>Walking</strong></h2>
            </div>
            <div class="col-xs-4 text-center">
                <h2>Cycling</h2>
            </div>
            <div class="col-xs-4 text-center">
                <h2>Driving</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 text-center">
            <div class="test">
                <a href="#">
                    <img src="{% static 'images/road-final.jpg' %}" class="thumbnail img-responsive section">
                </a>
            </div>
        </div>
        <div class="col-xs-8 text-center">
            <div class="project-box">
                <a href="#">
                    <img src="{% static 'images/project.jpg' %}" class="thumbnail img-responsive section">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 text-center">
            <h2>Roads</h2>
        </div>
        <div class="col-xs-8 text-center">
            <h2>Project</h2>
        </div>
    </div>
{% endblock %}


