{% extends 'base.html' %}
{% load staticfiles %}

{% block title_extension %}
    Index
{% endblock %}

{% block css_per_page %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="learning-box">
                    <a href="{% url 'walking' %}">


                        

                        <img src="{% static 'images/walking.jpg' %}" class="thumbnail img-responsive section">

                    </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="learning-box">
                    <a href="{% url 'cycling' %}">
                        <img src="{% static 'images/bike-final.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="learning-box">
                    <a href="#">
                        <img src="{% static 'images/car-final.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-center">
                <h2><strong>Walking</strong></h2>
            </div>
            <div class="col-xs-4 text-center">
                <h2><strong>Cycling</strong></h2>
            </div>
            <div class="col-xs-4 text-center">
                <h2><strong>Driving</strong></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 text-center">
                <div class="learning-box">
                    <a href="#">
                        <img src="{% static 'images/road-final.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
            <div class="col-xs-8 text-center">
                <div class="project-box">
                    <a href="{% url 'project' %}">
                        <img src="{% static 'images/project.jpg' %}" class="thumbnail img-responsive section">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 text-center">
                <h2><strong>Roads</strong></h2>
            </div>
            <div class="col-xs-8 text-center">
                <h2><strong>Project</strong></h2>
            </div>
        </div>

    </div>


{% endblock %}
