{% extends 'base.html' %}
{% load staticfiles %}

{% block css_per_page %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div id="success-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">Successfully completed the challenge!!!</h2>
                </div>
                <div class="modal-body">
                    <p>Overall you saved <span id="modal-co2-report"></span> kg of CO2, <span
                            id="modal-cash-report"></span> pounds, and ran <span id="modal-miles-report"></span> miles
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="/">
                        <button type="button" class="btn btn-warning" data>Continue</button>
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% if user_project.project %}
        <div id="performance-container">
            {% include 'brake_classroom/performance_container.html' %}
        </div>
    {% else %}
        <div class="row heading-row text-center">
            <h1>You have no projects, create a new one.</h1>
        </div>
        <form method="POST" action="{% url 'project' %}">
            {% csrf_token %}
            <input type="text" placeholder="Mileage" name="mileage">
            <input type="hidden" id="final-date" name="final_date" value="">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <button type="submit">Submit</button>
            <div class="form-group">
                <label for="reportrange">Choose a timeframe</label>
                <div id="reportrange" class="reportrange form-control">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                    <span id="daterange-picker-holder"></span> <b class="caret"></b>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block static_per_page %}
    <script src="{% static 'js/projects.js' %}"></script>
    <script src="{% static 'js/progress.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
{% endblock %}