{% extends 'base.html' %}

{% load staticfiles %}

{% block title_extension %}
    Walking
{% endblock %}

{% block css_per_page %}
    <link rel="stylesheet" href="{% static 'css/walking.css' %}"/>
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">

        <li class="active"><a data-toggle="tab" href="#home">Walk Together</a></li>
        <li><a data-toggle="tab" href="#menu1">Look for Traffic</a></li>
        <li><a data-toggle="tab" href="#menu2">Cross</a></li>
        <li><a data-toggle="tab" href="#menu3">Question 1</a></li>
        <li><a data-toggle="tab" href="#menu4">Question 2</a></li>
        <li><a data-toggle="tab" href="#menu5">Question 3</a></li>
        <li><a data-toggle="tab" href="#didyouknow-tab">Did you know?</a></li>
    </ul>


    <div class="tab-content">
        <div id="home" role="tabpanel" class="tab-pane fade in active">
            <div class="row">
                <div class="col-xs-6">
                    <h4>Walking is fun, but you should to be safe while doing it.</h4>
                    <p>Younger children should always walk with an adult.
                        Tell your parents that walking is great exercise and a nice way to spend time together.
                        When you can walk with a friend. :)
                    </p>
                </div>
                <div class="col-xs-6 text-center">
                    <img id="walktogether-photo" src="{% static 'images/walktogether.jpg' %}"/>
                </div>
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-6">
                    <h4>Walking is fun, but you should pay attention!</h4>
                    <p>Always look out for the traffic signs, signals and adult school crossing guards.
                        Watch out for cars and trucks at every driveway and intersection during your walk.
                    </p>
                </div>
                <div class="col-xs-6 text-center">
                    <img id="traffic-photo" src="{% static 'images/traffic.jpg' %}"/>
                </div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-6">
                    <h4>Walking is fun, but crossing can be dangerous!</h4>
                    <p>How to cross a road?</p>
                    <ol>
                        <li>First find the safest place to cross.</li>
                        <li>Stop at the curb or edge of the street.</li>
                        <li>Look left, right, left and behind you and in front of you for traffic and listen.</li>
                        <li>Wait until no traffic is coming and begin crossing.</li>
                        <li>Keep looking for traffic until you have finished crossing.</li>
                        <li>Walk, don’t run across the street.</li>
                    </ol>
                </div>
                <div class="col-xs-6 text-center">
                    <img id="lollypop-photo" src="{% static 'images/lollypop.jpg' %}"/>
                </div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-6">
                    <h4>What should we do before crossing the road?</h4>
                    <p>
                    <div class="first-two-answers">
                        <div class="radio-inline">
                            <label><input type="radio" value="true" name="optradio">Stop, look both ways, and
                                walk</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">Look and walk</label>
                        </div>
                    </div>
                    <div class="second-two-answers">
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">Look and listen</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">Stop, look and walk</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="menu4" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-6">
                    <h4>When is it safest to cross the road at a crossing with traffic lights?</h4>
                    <p>
                    <div class="first-two-answers">
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When the red man is glowing</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When the red man is flashing</label>
                        </div>
                    </div>
                    <div class="second-two-answers">
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When the green man is glowing</label>
                        </div>
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When the green man is flashing</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="menu5" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-6">
                    <h4>When should we wear our seat belt?</h4>
                    <p>

                    <div class="first-two-answers">

                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When we’re travelling on a long distance</label>
                        </div>

                        <div class="radio-inline">
                            <label><input type="radio" value="true" name="optradio">Every time we’re travelling with the
                                car</label>
                        </div>
                    </div>

                    <div class="second-two-answers">
                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">When we want to go to sleep</label>
                        </div>

                        <div class="radio-inline">
                            <label><input type="radio" name="optradio">Only when our parents tell us to do so</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="didyouknow-tab" class="tab-pane fade">
            <div class="row">
                <div class="col-xs-12">
                    <p id="yellow-bubble" class="triangle-obtuse text-center">Always look out for the traffic signs,
                        signals and adult school crossing guards.
                        Watch out for cars and trucks at every driveway and intersection during your walk.</p>
                    <p id="green-bubble" class="triangle-obtuse text-center">Always look out for the traffic signs,
                        signals and adult school crossing guards.
                        Watch out for cars and trucks at every driveway and intersection during your walk.</p>
                    <p id="blue-bubble" class="triangle-obtuse text-center">Always look out for the traffic signs,
                        signals and adult school crossing guards.
                        Watch out for cars and trucks at every driveway and intersection during your walk.</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


