{% extends 'base.html' %}

{% load staticfiles %}

{% block title_extension %}
    Walking
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail img-responsive">
                <img src="/media/{{ category.photo }}" alt="Generic placeholder thumbnail">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail img-responsive">
                <img src="/media/{{ category.photo }}" alt="Generic placeholder thumbnail">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail imr-rounded img-responsive">
                <img src="/media/{{ category.photo }}" alt="Generic placeholder thumbnail">
            </a>
        </div>

        <div class="col-sm-6 col-md-3">
            <a href="#" class="thumbnail img-responsive">
                <img src="/media/{{ category.photo }}" alt="Generic placeholder thumbnail">
            </a>
        </div>
    </div>
    <div class="container-fluid">



    </div>

{% endblock %}


