.section {
    border: 7px solid #ec1c24;
    padding: 0;
}

.project-box,
.learning-box {
    margin-top: 4vh !important;
    height: 15vw;
    margin: 0 auto;
    border: 0px solid black;
}

.project-box {
    width: 50vw !important;
}

.learning-box {
    width: 20vw !important;
}

h2 {
    color: #ec1c24;
}