.section {
    border: 7px solid #ec1c24;
    padding: 0;
}

.project-box,
.learning-box {
    margin-top: 20px!important;
    margin: 0 auto;
    border: 0px solid black;
}

.project-box {
    width: 650px !important;
}

.learning-box {
    width: 250px !important;
}

h2 {
    color: #ec1c24;
}

div div a img {
    height:300px !important;
    width:100%;
}
