.project-box {
    margin-top: 4vh !important;
    width: 50vw !important;
    height: 15vw;
    margin: 0 auto;
    border: 0px solid black;
}

#progress-circle-container {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}

.cloud-container,
#co2-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cloud-container {
    margin-top: 50px;
}

#co2-text {
    margin-top: 125px;
    z-index: 10;
    font-weight: 600;
    font-size: 20px;
}

#add-new-distance {
    margin-bottom: 20px;
}

#class-project-heading {
    margin: 0;
}

#dollar-text {
    font-weight:600;
}

#goal-achieved {
    display: none;
}
