#walktogether-photo {
    height: 300px;
    width: 300px;
    margin-top: 10px;
}

#lollypop-photo {
    height: 300px;
    width: 300px;
}

#traffic-photo {
    height: 300px;
    width: 450px;
    margin-top: 15px;
}